<div>
    <div style="padding-bottom: 20px;">
        <p-button (click)="addUser()">Add User</p-button>
    </div>
    <div class="card">
        <p-table
            #dt1
            [value]="users"
            [globalFilterFields]="['FirstName', 'LastName', 'City', 'State', 'Pin Code']"
            selectionMode="single"
            [(selection)]="selectedUser"
            dataKey="id"
            [tableStyle]="{ 'min-width': '50rem' }"
            [rows]="5"
            [paginator]="true"
            stateStorage="session"
            stateKey="statedemo-session">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="FirstName" style="width:15%">
                        First Name <p-sortIcon field="FirstName" />
                    </th>
                    <th pSortableColumn="LastName" style="width:15%">
                        Last Name <p-sortIcon field="LastName" />
                    </th>
                    <th pSortableColumn="City" style="width:15%">
                        City <p-sortIcon field="City" />
                    </th>
                    <th pSortableColumn="State" style="width:18%">
                        State <p-sortIcon field="State" />
                    </th>
                    <th pSortableColumn="PinCode" style="width:15%">
                        Pin Code <p-sortIcon field="PinCode" />
                    </th>
                    <th style="width:35%">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr [pSelectableRow]="user">
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ user.FirstName }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ user.LastName }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ user.City }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ user.State }}</span>
                    </td>
                    <td>
                        <span class="ml-1 vertical-align-middle">{{ user.PinCode }}</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary mr-2" (click)="editUser(user.id)">Edit</button>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal" (click)="openDeleteModal(user.id)">Delete</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm deletion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Do you really want to delete this user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteUser()">Delete</button>
        </div>
      </div>
    </div>
  </div>
