<form style="padding-top: 70px;" [formGroup]="userForm" (ngSubmit)="submit()">
  <div style="padding: 2.5rem; border-width: .2rem; border: solid #eef1f1">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input type="FirstName" class="form-control" id="inputEmail4" placeholder="First name" formControlName="FirstName"
          [ngClass]="{'is-invalid': userForm.get('FirstName')?.invalid && userForm.get('FirstName')?.touched}">
        <div class="text-danger" *ngIf="userForm.get('FirstName')?.invalid && userForm.get('FirstName')?.touched">
          First Name is required
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input type="LastName" class="form-control" id="inputPassword4" placeholder="Last Name" formControlName="LastName"
          [ngClass]="{'is-invalid': userForm.get('LastName')?.invalid && userForm.get('LastName')?.touched}">
        <div class="text-danger" *ngIf="userForm.get('LastName')?.invalid && userForm.get('LastName')?.touched">
          Last Name is required
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" placeholder="City" formControlName="City"
          [ngClass]="{'is-invalid': userForm.get('City')?.invalid && userForm.get('City')?.touched}">
        <div class="text-danger" *ngIf="userForm.get('City')?.invalid && userForm.get('City')?.touched">
          City is required
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" formControlName="State"
          [ngClass]="{'is-invalid': userForm.get('State')?.invalid && userForm.get('State')?.touched}">
          <option *ngFor="let State of states" [value]="State.Name">{{State.Name}}</option>
        </select>
        <div class="text-danger" *ngIf="userForm.get('State')?.invalid && userForm.get('State')?.touched">
          State is required
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="inputZip">Pin Code</label>
        <input type="text" class="form-control" id="inputZip" formControlName="PinCode" maxlength="6"
          [ngClass]="{'is-invalid': userForm.get('PinCode')?.invalid && userForm.get('PinCode')?.touched}">
        <div class="text-danger" *ngIf="userForm.get('PinCode')?.invalid && userForm.get('PinCode')?.touched">
          Pin Code is required
        </div>  
      </div>
    </div>
    <div class="pt-10">
      <button type="submit" class="btn btn-primary">{{ userId ? 'Update' : 'Save' }} </button>
      <button type="button" class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>